.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid #ffffff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #E6E6E6;
    cursor: default;
    background: #FFFFFF url(bgimg.jpg) no-repeat center center;
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative;
}
.view h2 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    margin: 20px 0 0;
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #FFFFFF;
    padding: 10px 20px 20px;
    text-align: center;
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000000;
    color: #FFFFFF;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000000;
}
.view a.info:hover {
    box-shadow: 0 0 5px #000000;
}