#mhead{
    background: gray;
    width: 250px;
    height: 30px;
}
#mhead strong{
    color: white;
}
.light{
    background: #d3d3d3;
    width: 250px;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.query_dark{
    background: #cccccc;
    width: 250px;
    height: 30px;
}
.query_dark input{
    float: left;
    border: 1px solid black;
}
textarea{
    float: left;
    border: 1px solid black;
}
.submit input{
    background: #333333;
    width: 60px;
    height: 20px;
    margin-left: 190px;
    margin-top: 20px;
    color: white;
}
img{
    width: 25px;
    height: 25px;
}
.cur{
    background: pink;
    width: 200px;
}
.odd{
    background: #cccccc;
}