html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, fieldset, form, label, legend, caption,
table, tr, tbody, tfoot, thead {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}

.editorIFrame iframe {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    position: relative;
}
.editorSpan table td {
    vertical-align: middle;
}
.editorMain {
    border: 1px solid #CCCCCC;
    width: 100%;
}
.editorFirst {
    border-bottom: 1px solid #CCCCCC;
}
.editorLast {
    border-top: 1px solid #CCCCCC;
    height: 20px;
}
.editorSpan {
    width: 100%;
}
.editorToolbar {
    background: url("repeater.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    background: none repeat scroll 0 0 #F6F6F6;
    vertical-align: top;
    border-color: -moz-use-text-color #CCCCCC -moz-use-text-color #999999;
    /*border-style: none solid;*/
    /*border-width: 0 1px;*/
    /*display: block;*/
    /*height: 57px;*/
    /*margin: 0 -1px -1px;*/
    /*padding: 0;*/
    /*position: relative;*/
}
.editorToolbar td {
    padding: 0 2px;
}
.editorStatusbar {
    background: none repeat scroll 0 0 #F6F6F6;
    color: #000000;
    display: block;
    height: 20px;
    font-family: 'MS Sans Serif',sans-serif,Verdana,Arial;
    font-size: 9pt;
    line-height: 16px;
    /*overflow: visible;*/
}
.editorIcon {
    background: url("iconmaster.gif") no-repeat scroll 20px 20px rgba(0, 0, 0, 0);
}
.editor_bold {
    height: 21px;
    width: 23px;
}
span.editor_bold {
    display: block;
    background-position: -48px -44px;
    height: 21px;
    width: 23px;
}
span.editor_bold:hover {
    display: block;
    background-position: -48px -65px;
    height: 21px;
    width: 23px;
}
.editor_italic {
    height: 21px;
    width: 24px;
}
span.editor_italic {
    display: block;
    background-position: -24px -44px;
    height: 21px;
    width: 24px;
}
span.editor_italic:hover {
    display: block;
    background-position: -24px -65px;
    height: 21px;
    width: 24px;
}
.editor_underline {
    height: 21px;
    width: 22px;
}
span.editor_underline {
    display: block;
    background-position: -100px -92px;
    height: 21px;
    width: 22px;
}
span.editor_underline:hover {
    display: block;
    background-position: -122px -92px;
    height: 21px;
    width: 22px;
}
.editor_strikethrough {
    height: 21px;
    width: 24px;
}
span.editor_strikethrough {
    display: block;
    background-position: 0 -44px;
    height: 21px;
    width: 24px;
}
span.editor_strikethrough:hover {
    display: block;
    background-position: 0 -65px;
    height: 21px;
    width: 24px;
}
.editorSpacer {
    height: 21px;
    width: 24px;
}
span.editorSpacer {
    display: block;
    background-position: -56px -104px;
    height: 21px;
    width: 24px;
}
.editor_justifyleft {
    height: 21px;
    width: 28px;
}
span.editor_justifyleft {
    display: block;
    background-position: -315px 0;
    height: 21px;
    width: 28px;
}
span.editor_justifyleft:hover {
    display: block;
    background-position: -315px -21px;
    height: 21px;
    width: 28px;
}
.editor_justifycenter {
    height: 21px;
    width: 28px;
}
span.editor_justifycenter {
    display: block;
    background-position: -343px 0;
    height: 21px;
    width: 28px;
}
span.editor_justifycenter:hover {
    display: block;
    background-position: -343px -21px;
    height: 21px;
    width: 28px;
}
.editor_justifyright {
    height: 21px;
    width: 28px;
}
span.editor_justifyright {
    display: block;
    background-position: -371px 0;
    height: 21px;
    width: 28px;
}
span.editor_justifyright:hover {
    display: block;
    background-position: -371px -21px;
    height: 21px;
    width: 28px;
}
.editor_image {
    height: 22px;
    width: 26px;
}
span.editor_image {
    display: block;
    background-position: -477px 0;
    height: 22px;
    width: 26px;
}
span.editor_image:hover {
    display: block;
    background-position: -477px -22px;
    height: 22px;
    width: 26px;
}
.editor_link {
    height: 22px;
    width: 30px;
}
span.editor_link {
    display: block;
    background-position: -27px 0;
    height: 22px;
    width: 30px;
}
span.editor_link:hover {
    display: block;
    background-position: -27px -22px;
    height: 22px;
    width: 30px;
}
/*.editorStatusbar a.editorResize {*/
    /*background: url("icons_wysiwyg.gif") repeat scroll -800px 0 rgba(0, 0, 0, 0);*/
    /*cursor: se-resize;*/
    /*display: block;*/
    /*float: right;*/
    /*height: 20px;*/
    /*width: 20px;*/
/*}*/
.editorTextarea {
    border: none;
    margin-bottom: -2px;
    margin-top: 4px;
    position: relative;
    min-width: 400px;
    min-height: 100px;
    width: 500px;
    height: 100px;
}